.main{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
    background-color: black;
 }
 
 .explane{
     margin-top: 10px;
     margin-left: 10px;
     margin-right: 10px;
     margin-bottom: 10px;
     padding: 20px;
     border: 1px solid white;
     border-radius: 20px;
 }
 
 .title{
     color: cornflowerblue;
 }
 
 .contents{
     color: white;
 }
 
 .button{
     text-align: center;
 }
 
 .back{
     position: relative;
     padding-top: 0.75rem;
     padding-bottom:  0.75rem;
     margin-left: 0.25rem;
     margin-right: 00.25rem;
     min-width: 150px;
     border-radius: 50px;
     background-color: white;
 }