.ProfileContainer{
    background-color: #222A35;
    width : 400px;
    height: 110px;
    border-radius : 10px


}
.ProfileIcon{
    position: relative;
    top : 17%;
    left : 4%;
    width : 70px;
    height : 70px;
}
.SummonerName{
    color : white;
    font-family: '나눔스퀘어';
    

    position : relative;
    top : -25%;
    left: 8%;

}
.UpdateButton{
    border-radius: 20px;
    font-family: '나눔스퀘어';
    
    background-color: #D0CECE ;
    color : black;

    position: relative;
    left : -10%;
    
}
.TierIcon{
    position: relative;
    top : 4%;
    left : 3%;
    width : 40px;
    height : 40px;
}
.TierName{
    font-family: '나눔스퀘어';

    color : white;

    position: relative;
    top : -20%;
    left : 5%;
}
.LP{
    font-family: '나눔스퀘어';
  
    color : white;

    position: relative;
    top : -20%;
    left : 74%;
}